
.item-selected {
  --ion-item-background:  #2B8C68;
}

ion-checkbox {

}

ion-list {
  margin: 20px auto
}

.patient-chip {
  color: #3880ff; //primary
  font-size: 18px;
  font-weight: normal;
}

.big-icon {
  font-size: 48px;
}

ion-chip {
  height: 50px;
  padding: 25px;
  border-radius: 25px;
  margin: 20px auto;
}

.swiper {
  text-align: center;
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
//
//.swiper-slide:nth-child(2n) {
//  width: 40%;
//}
//
//.swiper-slide:nth-child(3n) {
//  width: 20%;
//}

ion-card {
  width:100%;
  height: 350px;
}

ion-card-header {
  color: white;
  background-color: #489097;
  min-height: 80px;
}

ion-card-title {
  font-size: 16px;
  color: white;
}

ion-card-content {
  margin: 5px;
}

h3 {
  background-color: #489097;
  color: white;
  border-radius: 5px;
}

.categoryTitle {
  color: #489097;
}


