<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diagnosen</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="icon-only | end">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-align-items-center">
    <ion-col size="auto">
      <ion-searchbar placeholder="Suche Diagnosen" [(ngModel)]="searchTerm" showCancelButton="focus" animated="true"></ion-searchbar>
    </ion-col>
  </ion-row>

  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1500"> <!-- ItemSize: with cards for example choose the height of the card, min and max for the PIXELS to render (px hight/min px....) -->
    <ion-list>
      <ion-item *cdkVirtualFor="let item of items | filter: searchTerm; let i = index;"  [ngClass]="{'item-selected': selectedItems.includes(item)}">
      <!--tappable (click)="selectItem(item)"-->
          <ion-avatar slot="start">
            <img src="https://loremflickr.com/100/100" alt="irgendeinRandomImage">
          </ion-avatar>
          <ion-label>
            {{item.nursingDiagnosesNanda}}
          </ion-label>
        <ion-button (click)="selectItem(item)">
          Auswählen
          <ion-icon name="checkbox-outline"></ion-icon>
        </ion-button>
        </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="addDiagnose()">+</ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title> </ion-title>
    <ion-buttons>
      <ion-button (click)="show()" slot="start">Zeige Empfehlungen
        <!--ion-icon name="bag-add"></ion-icon-->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
