<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diagnosen</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="icon-only | end">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-thumbnail class="center-image">
    <img src="assets/img/patient.png">
  </ion-thumbnail>
  <ion-text color="primary" class="ion-text-center">
    <div class="patient-card-title" *ngIf="patientItem != null">{{patientItem.firstName}} {{patientItem.lastName}}</div>
  </ion-text>


  <ion-list *ngFor="let category of diagnoseCategory">
    <mat-expansion-panel>
      <mat-expansion-panel-header ngClass = "mat-expansion-{{category | removeWhiteSpaces}}">
        <mat-panel-title>
            <ion-img class="category-image" src="/assets/img/{{category | removeWhiteSpaces}}.png"></ion-img>
        </mat-panel-title>
        <mat-panel-description>
          <div class="expansion-category">{{category}}</div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-searchbar placeholder="Suche" [(ngModel)]="searchTerm" showCancelButton="focus" animated="true"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngFor="let diagnose of diagnoses | filter: searchTerm">
        <div *ngIf="category === diagnose.nursingDiagnosesCategory">
          <mat-expansion-panel class="inner-expansion-panel">
              <mat-expansion-panel-header class="inner-expansion-panel-header">
                <div class="expansion-title">{{diagnose.nursingDiagnoses}}</div>
              </mat-expansion-panel-header>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="expansion-text">{{diagnose.nursingDiagnosesDescription}}</div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-text-end">
                  <ion-checkbox (click)="selectItem(diagnose, $event)"></ion-checkbox>
                </ion-col>
              </ion-row>
            </ion-grid>

          </mat-expansion-panel>
          <br>
        </div>
      </div>
    </mat-expansion-panel>
  </ion-list>

  <ion-text class="ion-text-center" color="primary">
    <h2>{{message}}</h2>
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="presentActionSheet()">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
