<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Diagnosen</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="icon-only | end">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <swiper #swiper [config] = "config" class="swiper-container">
    <ng-template swiperSlide class="swiper-slide" *ngFor = "let item of items | filter: searchTerm;" >
     {{item.nursingDiagnosesNanda}}
    </ng-template>
  </swiper>


  <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-chip>
              <ion-icon class="big-icon" name="person-circle"></ion-icon>
              <ion-label>
                <div *ngIf="patientItem != null" class="patient-chip">{{patientItem.firstName}} {{patientItem.lastName}}:</div>
              </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-searchbar placeholder="Suche Diagnosen" [(ngModel)]="searchTerm" showCancelButton="focus" animated="true"></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-list class="ion-text-center">
      <h2 class="categoryTitle">Haut:</h2>
      <swiper #swiper [config] = "config" [effect]="'coverflow'" [grabCursor]="true" class="swiper-container" >
          <ng-template swiperSlide class="swiper-slide" *ngFor = "let item of items | filter: searchTerm;" >
            <ion-card tappable (click)="selectItem(item)" class="ion-text-center">
              <ion-card-header>
                <ion-card-title>
                  <ion-checkbox [checked]="selectedItems.includes(item)"></ion-checkbox>
                  {{item.nursingDiagnosesNanda}}
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
              <p>{{item.nursingDiagnosesDescription}}</p>
              </ion-card-content>
            </ion-card>
          </ng-template>
      </swiper>

        <h2 class="categoryTitle">Psyche:</h2>

      <swiper #swiper [config] = "config" [effect]="'coverflow'" [grabCursor]="true" class="swiper-container" >
        <ng-template swiperSlide class="swiper-slide" *ngFor = "let item of items | filter: searchTerm;" >
          <ion-card tappable (click)="selectItem(item)" class="ion-text-center">
            <ion-card-header>
              <ion-card-title>{{item.nursingDiagnosesNanda}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{item.nursingDiagnosesDescription}}</p>
              <ion-checkbox [checked]="selectedItems.includes(item)"></ion-checkbox>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>

      <h2 class="categoryTitle">Bewegung:</h2>
      <swiper #swiper [config] = "config" [effect]="'coverflow'" [grabCursor]="true" class="swiper-container" >
        <ng-template swiperSlide class="swiper-slide" *ngFor = "let item of items | filter: searchTerm;" >
          <ion-card tappable (click)="selectItem(item)" class="ion-text-center">
            <ion-card-header>
              <ion-card-title>{{item.nursingDiagnosesNanda}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{item.nursingDiagnosesDescription}}</p>
              <ion-checkbox [checked]="selectedItems.includes(item)"></ion-checkbox>
            </ion-card-content>
          </ion-card>
        </ng-template>
      </swiper>
        <!--ion-item *ngFor="let item of items | filter: searchTerm; let i = index;"  [ngClass]="{'item-selected': selectedItems.includes(item)}"
          tappable (click)="selectItem(item)" >
            <ion-avatar slot="start">
              <img src="https://loremflickr.com/100/100" alt="irgendeinRandomImage">
            </ion-avatar>
            <ion-label>
              <p>{{item.nursingDiagnosesNanda}}</p>
            </ion-label>
          <ion-checkbox slot="end" [checked]="selectedItems.includes(item)"></ion-checkbox>
          </ion-item-->
    </ion-list>


  <ion-text class="ion-text-center" color="primary">
    <h2>{{message}}</h2>
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="presentActionSheet()">
      <ion-icon name="options-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
