.center-image {
  max-width: 80px !important;
  max-height: 80px !important;
  margin: 5px auto 5px;
}

.patient-image {
  max-width: 80px !important;
  max-height: 80px !important;
  margin: 5px auto 5px;
}

.card-button {

}

.card-title {
  margin: 5px;
  font-size: 12px;
  font-weight: normal;
}

.card-text {
  margin: 5px;
  line-height:130%;
  font-size: 8px;
}

.big-icon {
  font-size: 28px;
}

.patient-card {
  padding: 5px;
  text-align: center;
  color: white; //primary
  font-size: 18px;
  font-weight: normal;
  border-radius: 30px;
  border-color: #90d3ea;
}

.patient-card-title {
  font-size: 18px;
  font-weight: normal;
}


