<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Patienten</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1500" > <!-- ItemSize: with cards for example choose the height of the card, min and max for the PIXELS to render (px hight/min px....) -->
    <ion-list>
      <ion-item *cdkVirtualFor="let item of items | filter: searchTerm"
                tappable (click)="selectItem(item)">
        <ion-avatar slot="start">
          <img src="https://loremflickr.com/100/100" alt="irgendeinRandomImage">
        </ion-avatar>
        <ion-label>
          {{item.nursingDiagnosesNanda}}
        </ion-label>
        <ion-label>
          {{item.diagnosesId}}
        </ion-label>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button color="danger" (click)="addPatient()">+</ion-fab-button>
</ion-fab>
  <router-outlet></router-outlet>
</ion-content>
