<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Patienten</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="icon-only | end">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-searchbar placeholder="Suche Patienten" [(ngModel)]="searchTerm" showCancelButton="focus" animated="true"></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
        <ion-item *ngFor="let item of items | filter: searchTerm;" [ngClass]="{'item-selected': patientSelected === item.patientId}"
            tappable (click)="selectItem(item)">
          <ion-avatar slot="start">
            <img src="https://loremflickr.com/100/100" alt="irgendeinRandomImage">
          </ion-avatar>
          <ion-label>
            <h2>{{item.lastName}}</h2>
              <p>{{item.firstName}}</p>
          </ion-label>
          <ion-icon slot="end" name="trash" (click)="deletePatient(item); $event.preventDefault(); $event.stopPropagation()"></ion-icon> <!--Trash icon? really?-->
        </ion-item>
    </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="addPatient()">
    <ion-icon name="person-add-sharp"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
