cdk-virtual-scroll-viewport {
  height: calc(100% - 68px);
  width: 100%;
}

.item-selected {
  --ion-item-background: #2B8C68;
}

.item-notSelected {
  --ion-item-background: white;
}

.patient-card {
  padding: 5px;
  text-align: center;
  color: white; //primary
  font-size: 18px;
  font-weight: normal;
  border-radius: 30px;
  border-color: #90d3ea;
}

.patient-card-title {
  font-size: 18px;
  font-weight: normal;
  margin: 50px;
}

.image-margin {
  max-width: 80px !important;
  max-height: 80px !important;
  margin-left: 50px;
}
