cdk-virtual-scroll-viewport {
  height: calc(100% - 68px);
  width: 100%;
}

.item-selected {
  --ion-item-background: #2B8C68;
}

.item-notSelected {
  --ion-item-background: white;
}

.patient-card {
  padding: 5px;
  text-align: left;
  color: white; //primary
  font-size: 12px;
  font-weight: normal;
  border-radius: 30px;
  border-color: #90d3ea;
}

.patient-card-title {
  font-size: 12px;
  font-weight: normal;
  margin: 20px;
}



.image-margin {
  min-width: 50px !important;
  min-height: 50px !important;
  max-width: 50px !important;
  max-height: 50px !important;
  scale: 70%;
}
