//.swiper-container {
//  width: 100%;
//  //height: 100%;
//}
//
//.recommendationTitle {
//  color: #3880ff; //primary
//  font-size: 14px;
//  font-weight: bold;
//}
//#swiper{
//  align-items: center;
//  align-content: center;
//}
//.swiper-slide {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//}
.swiper-container {
  width: 100%;
  //height: 300px;
  margin: 20px auto;
}
.accordion-container{
  padding-left: 8px;
  padding-right: 8px;
}
.mat-accordion .mat {
text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 6px;
}

//.example-headers-align .mat-expansion-panel-header-title,
//.example-headers-align .mat-expansion-panel-header-description {
//  flex-basis: 0;
//}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-headers-align .mat-expansion-panel {
  text-align: center;
}

.swiper-slide-container {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height:100%;
  max-width: 600px;
  margin:auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
