<ion-header color="primary">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><!--TODO: Big image centered-->
    <ion-icon name="log-in"></ion-icon>
  </ion-item>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <!--ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Email muss eingegeben werden!</span>
          <span *ngIf="email.errors?.email">Email ungültig</span>
        </div-->

      <ion-item>
        <ion-label position="floating">Benutzername</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <div *ngIf="(username.dirty || username.touched) && username.errors" class="errors">
        <span *ngIf="username.errors?.required">Benutzername erforderlich!</span>
      </div>

      <ion-item>
        <ion-label position="floating">Passwort</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.minLenght">mindenstens 6 Zeichen!</span>
        <span *ngIf="password.errors?.required">Passwort erforderlich!</span>
      </div>

    </div>

      <ion-button type="submit" expand="block">Login</ion-button>
      <ion-button type="button" expand="block" color="secondary" fill="clear" (click)="goto()">Registrieren</ion-button>

  </form>
</ion-content>
