ion-content{
  --padding-top: 10%;
  --padding-start: 2%;
  --padding-end: 2%;
    align-content: center;
  // --background:
}
//ion-item{
//  margin: 10px;
//}
.errors{
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input-group {
  background: #fff;
  //border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

ion-button{
  margin-top: 10%;
}

ion-icon {
  font-size: 128px;
}

