cdk-virtual-scroll-viewport {
  height: calc(100% - 118px); // - 118px = footer and toolbar, only toolbar: 68px
  width: 100%;
}
.item-selected {
  --ion-item-background: #2B8C68;
}

.headerItem {
  //--min-height: 100px;
}

ion-checkbox{
  margin-left: 50px;
}

ion-checkbox .item-cover{
  display:none;
}

ion-button {
  font-size: 12px;
  text-transform: lowercase;
}

ion-icon {
  margin: 2px;
}

.diagnoseTitle {
  color: #3880ff; //primary
  font-size: 14px;
  font-weight: bold;
}

