<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true">
    <ion-slide>
      <ion-text color="light">
        <img src="https://loremflickr.com/100/100">
        <h1>Der Pflege Helfer</h1>
        <p>Die App die Arbeitsplätze ersetzt ...</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="light">
        <img src="https://loremflickr.com/100/100">
        <h1>Der PflegeHelfer</h1>
        <p>... vielleicht auch schon deinen!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>
  </ion-slides>

</ion-content>
