<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Anamnese</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="backButton()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" slot="icon-only | end">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-thumbnail class="center-image">
      <img src="assets/img/patient.png">
    </ion-thumbnail>
    <ion-text color="primary" class="ion-text-center">
      <div class="patient-card-title" *ngIf="patientItem != null">{{patientItem.firstName}} {{patientItem.lastName}}</div>
    </ion-text>
    <br>
    <ion-list *ngFor="let category of anamnesisCategories">
      <mat-expansion-panel>
        <mat-expansion-panel-header ngClass="mat-expansion-{{category | removeWhiteSpaces}}">
          <mat-panel-title>
              <ion-img class="category-image" src="/assets/img/{{category | removeWhiteSpaces}}.png">
              </ion-img>
          </mat-panel-title>
          <mat-panel-description>
              <div class = "expansion-title">{{category}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor = "let item of anamnesis">
          <div *ngIf="category === item.anamnesisCategory">
            <div>
              <div class = "expansion-text">{{item.question}}</div>
              <ion-toggle (click)="addQuestion(item)"></ion-toggle>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="success" (click)="save()">
      speichern
      <ion-icon name="save" class="btn-padding"></ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>
