<ion-header>
  <ion-toolbar>
    <ion-title>patientDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addPatientToDb()" [formGroup]="patientDetailsForm">
    <ion-item>
      <ion-label position="floating">Vorname</ion-label>
      <ion-input type="text" formControlName="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nachname</ion-label>
      <ion-input type="text" formControlName="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gewicht</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Groesse</ion-label>
      <ion-input type="number" formControlName="height"></ion-input>
    </ion-item>

    <!--ion-item>
      <ion-label position="floating">Geburtsdatum</ion-label>
      <ion-datetime formControlName="age" display-format="MM DD YY" placeholder="Waehle Gebrutsdatum"></ion-datetime>
    </ion-item-->

    <ion-item>
      <ion-label position="floating">Geburtsdatum</ion-label>
      <ion-input type="number" formControlName="age" placeholder="Waehle Gebrutsdatum"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Geschlecht</ion-label>
      <ion-input formControlName="gender" placeholder="Geschlecht"></ion-input>
    </ion-item>

    <!-- Radio buttons -->
    <!--ion-radio-group>
      <ion-list-header>
        <ion-label>Geschlecht</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Mann</ion-label>
        <ion-radio slot="start" value="male"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Frau</ion-label>
        <ion-radio slot="start" value="female"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Divers</ion-label>
        <ion-radio slot="start" value="divers"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Inter</ion-label>
        <ion-radio slot="start" value="inter"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Offen</ion-label>
        <ion-radio slot="start" value="open"></ion-radio>
      </ion-item>
    </ion-radio-group-->

    <!-- Checkboxes -->
    <!--ion-list lines="full">
      <ion-list-header>
        <ion-label>Subjects</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>English</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Maths</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Science</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>History</ion-label>
        <ion-checkbox></ion-checkbox>
      </ion-item>
    </ion-list-->

        <ion-button type="submit" color="danger" expand="block">Hinzufuegen</ion-button>
  </form>

</ion-content>
