<ion-header>
  <ion-toolbar>
    <ion-title>patientDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addPatientToDb()" [formGroup]="patientDetailsForm">
    <div class="input-group">
      <ion-item>
        <ion-label position="floating">Vorname</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <div *ngIf="(firstName.dirty || firstName.touched) && firstName.errors" class="errors">
        <span *ngIf="firstName.errors?.required">Bitte Vorname eingeben!</span>
      </div>

      <!--span class="error ion-padding" *ngIf= "errorControl.name.errors?.required">
        Name is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
        Name should be min 2 chars long.
      </span-->

      <ion-item>
        <ion-label position="floating">Nachname</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>

      <div *ngIf="(lastName.dirty || lastName.touched) && lastName.errors" class="errors">
        <span *ngIf="lastName.errors?.required">Bitte Nachname eingeben!</span>
      </div>


      <ion-item>
        <ion-label position="floating">Gewicht in kg</ion-label>
        <ion-input formControlName="weight"></ion-input>
      </ion-item>

      <div *ngIf="(weight.dirty || weight.touched) && weight.errors" class="errors">
        <span *ngIf="weight.errors?.required">Bitte Gewicht eingeben!</span>
        <span *ngIf="weight.errors?.pattern">Bitte Zahlen eingeben!</span>
      </div>

      <ion-item>
        <ion-label position="floating">Größe in cm</ion-label>
        <ion-input formControlName="height"></ion-input>
      </ion-item>

      <div *ngIf="(height.dirty || height.touched) && height.errors" class="errors">
        <span *ngIf="height.errors?.required">Bitte Größe eingeben!</span>
        <span *ngIf="height.errors?.pattern">Bitte Zahlen eingeben!</span>

      </div>

      <ion-item>
        <ion-label position="floating">Geburtsdatum</ion-label>
        <ion-datetime min = "1800-01-01" formControlName="age"></ion-datetime>
      </ion-item>

      <div *ngIf="(age.dirty || age.touched) && age.errors" class="errors">
        <span *ngIf="age.errors?.required">Bitte Geburtsdatum auswählen!</span>
      </div>


      <!--Radio buttons -->
      <ion-radio-group [(ngModel)]="selectedGender" [ngModelOptions]="{standalone: true}" (ionChange)="onChange()">
        <ion-list-header>
          <ion-label>Geschlecht</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Mann</ion-label>
          <ion-radio slot="start" value="Mann"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Frau</ion-label>
          <ion-radio slot="start" value="Frau"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Divers</ion-label>
          <ion-radio slot="start" value="divers"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Inter</ion-label>
          <ion-radio slot="start" value="inter"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Offen</ion-label>
          <ion-radio slot="start" value="open"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <!-- Checkboxes -->
      <!--ion-list lines="full">
        <ion-list-header>
          <ion-label>Subjects</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>English</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Maths</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Science</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>History</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-list-->

      <ion-button type="submit" color="primary" expand="block">Hinzufuegen</ion-button>
    </div>
  </form>

</ion-content>
